/* Estilo base del contenedor del proyecto (la tarjeta) */
.proyecto {
    background-color: #a7a8b6;
    border: 1px solid #a7a8b6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    perspective: 1000px;
}

/* Efecto de zoom en la tarjeta al hacer hover */
.proyecto:hover {
    transform: scale(1.1); /* Efecto de zoom en toda la tarjeta */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

/* Imagen dentro del proyecto */
.imagen-proyecto {
    height: 150px;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease; /* Añadir una transición suave al zoom de la imagen */
}

/* Zoom en la imagen al hacer hover */
.proyecto:hover .imagen-proyecto {
    transform: scale(1.2); /* Efecto de zoom sobre la imagen */
}
